body {
	padding: 0;
	margin: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #000;
	line-height: 1.4em;
	background: #fff;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
}

p {
	margin: 0;
}


.container {
	width: 100%;
	max-width: 1345px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

.block-title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
}

/* header */

.header {
	padding-top: 24px;
	padding-bottom: 24px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-wrapper__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-btn {
	width: 30px;
	min-width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
	display: none;
	z-index: 1001;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #DF8B41;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
	display: none;
}
.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg); 
}

.menu-list {
	display: flex;
	grid-gap: 24px;
}

.menu-item a {
	font-weight: 600;
	text-decoration: none;
	color: #000;
	padding: 13px 32px 16px;
	border-radius: 24px;
	display: block;
	transition: background .5s ease-out;
}

.menu-item a:hover {
	background-color: #DBDBDB;
	transition: background .5s ease-out;
}

/* advantage */

.advantage {
	background: #F8E4D6;
}

.advantage-list {
	display: flex;
	justify-content: center;
}

.advantage-list__item {
	display: block;
	padding: 7px 20px 10px;
	font-size: 16px;
}

/* main-content */

.main-content {
	padding-top: 24px;
	padding-bottom: 24px;
}

.main-content-wrapper {
	display: flex;
	justify-content: space-between;
	grid-gap: 24px;
}

.main-content-inner {

}

/* slider */

.slider-wrapper {
	width: 760px;
	height: 620px;
	margin: 0;
	display: block;
	padding-bottom: 130px;
}

.slick-slide {
	overflow:hidden;
	height: 310px;
	position: relative;
	z-index:999;
	border-radius: 24px;
}
.slick-slide img {
	transition: width 0.5s;
	height: auto;
	width:auto;
	object-fit:cover;
	display: block;
	overflow: hidden;
}
.slick-list img {
	width:auto;
	height: auto;
	object-fit: cover;
	display: block;
	width: 100%;
	height: 100%;
}
.slick-dots li {
	width: calc(20% - 10px)!important;
	object-fit:cover;
	display:inline-block;
	margin:0;
	height: auto;
	padding:20px 10px;
	display: block;
	height: 10px!important;
}
.slick-dots li img {
	width:100%;
	height: 100px;
	object-fit:cover;
	border-radius:14px;
	transition: 0.5s;
	display: block;
	overflow: hidden;
}
.slick-dots li:hover img {
	-webkit-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
	box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
}
.slick-dots {
	position: relative;
	text-align:left;
	bottom: 0;
}

.product-information {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 24px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
}

.heading__title {
	margin-bottom: 16px;
}

.range__list {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 5px;
}

.range__item {
	border: 1px solid #DF8B41;
	background: #fff;
	color: #DF8B41;
	border-radius: 100px;
	font-size: 16px;
	padding: 4px 10px;
	display: block;
}

.details__btn {
	width: 100%;
	text-align: left;
	position: relative;
	padding: 0;
	display: block;
}

.details__btn::before {
	content: ' ';
	position: absolute;
	top: calc(50% - 6px);
	right: 6px;
	display: block;
	width: 12px;
	height: 12px;
	background-image: url(../img/arrow-icon.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 2;
}

.details__btn.active::before {
	transform: rotate(180deg);
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

.more {
	color: rgba(0, 0, 0, 0.8);
	background: #F5F1EC;
	border-radius: 16px;
	padding: 16px;
}

.more span {
	padding-left: 30px;
	display: block;
}

.more__title {
	font-size: 16px;
	background-image: url(../img/i-icon.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 0 center;
}

.more__text {
	font-size: 14px;
}

.bay-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bay-block__price-block span {
	display: block;
}

.bay-block__price {
	font-size: 30px;
	font-weight: 700;
}

.bay-block__vat {
	font-weight: 500;
	font-size: 16px;
	color: #717171;
}

.bay-block__to-cart {
	padding: 16px 32px;
	background-color: #DF8B41;
	border-radius: 100px;
	color: #fff;
}

.bay-block__to-cart span {
	padding-left: 26px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 18px 18px;
}


/* motivation */

.motivation {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 24px;
	padding: 24px;
	margin-top: 16px;
}
.motivation__title {
	margin-bottom: 1em;
}

.motivation__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.motivation__item {
	width: calc(50% - 8px);
	margin-bottom: 16px;
	background: #eee;
	padding: 8px;
	border-radius: 16px;
}

.motivation__item:last-child {
	margin: 0;
	width: 100%;
}

.motivation__text {
	font-size: 16px;
	display: inline-flex;
	align-items: center;
}

.motivation__icon {
	font-size: 24px;
	padding: .5em;
	background: #000;
	border-radius: 100px;
	margin-right: 8px;
}

.product-description {
	padding-top: 24px;
	padding-bottom: 24px;
}

.tabs {
	border-bottom: 1px solid #E4E4E4;
	padding-bottom: 24px;
	display: flex;
	justify-content: center;
	grid-gap: 24px;
}

.tabs__button  {
	padding: 16px 32px;
	border-radius: 24px;
	display: block;
	transition: background .5s ease-out;
}

.tabs__button.active {
	background-color: #F8E4D6;
}

.tabs__button:hover {
	background-color: #DBDBDB;
	transition: background .5s ease-out;
}

.tabs__button.active:hover {
	background-color: #F8E4D6;
}

.content {
	padding-top: 24px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.content__title {
	margin-bottom: 1em;
	font-size: 45px;
	font-weight: 700;
}

.content__text {}

.content__info {
	display: none;
	margin-top: 15px;
}

.content__info.active {
	display: block;
}


/* footer */

.footer {
	background: #6B5745;
	color: #fff;
}

.footer-wrapper {
	display: flex;
	padding: 24px 0;
}

.footer-item {
	margin-right: 24px;
}

.footer-item:last-child {
	margin: 0;
}

.footer-item__title {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 8px;
}


/*   respositive   */



@media (max-width: 1399px) {
	.container {
		width: 1140px;
	}
	body {
		font-size: 17px;
	}
	.menu-list {
		grid-gap: 0;
	}
	.slider-wrapper {
		width: 600px;
	}
	.bay-block__price {
		font-size: 25px;
	}
}

@media (max-width: 1199px) {
	.container {
		width: 960px;
	}
	.logo-block__logo {
		max-width: 140px;
	}
	.header-wrapper__inner {
		width: 100%;
	}
	.menu-btn {
		display: block;
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		background: #DF8B41;
		transform: translateX(-100%);
		transition: transform 0.5s; 
		z-index: 1000;
	}
	.menu.active {
		transform: translateX(0);
	}
	.menu-list {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
	}
	.menu-item a{
		color: #fff;
	}
	.menu-btn.active span{
		background-color: #fff;
	}
	.menu-list {
		grid-gap: 0;
		justify-content: space-between;
	}
	.slider-wrapper {
		width: 500px;
		height: 450px;
	}
	.motivation, .product-information {
		padding: 15px;
	}
}

@media (max-width: 991px) {
	.container {
		width: 720px;
	}
	.main-content-wrapper {
		flex-direction: column;
	}
	.main-content-inner {
		display: flex;
		grid-gap: 24px
	}
	.motivation__list {
		flex-direction: column;
	}
	.slider-wrapper {
		width: 400px;
	} 
	.motivation {
		margin-top: 0;
	}
	.motivation__item {
		width: 100%;
	}
	.footer-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 24px;
	}
}

@media (max-width: 767px) {
	.container {
		width: 540px;
	}
	.main-content-inner {
		flex-direction: column;
	}
	.slider-wrapper {
		width: 100%;
	} 
}

@media (max-width: 575px) {
	.container {
		width: 100%;
		padding-left: 17px;
		padding-right: 17px;
	}
	.advantage-list {
		flex-direction: column;
		align-items: center;
		grid-gap: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.advantage-list__item {
		padding: 0;
	}
	.main-content-inner {
		flex-direction: column;
	}
	.slider-wrapper {
		width: 100%;
	} 
	.bay-block {
		flex-direction: column;
		grid-gap: 15px;
	}
	.bay-block__price-block {
		text-align: center;
	}
	.bay-block__to-cart {
		width: 100%;
	}
	.tabs {
		flex-direction: column;
		grid-gap: 12px;
	}
	.tabs__button {
		padding: 14px;
		border: 1px solid #F8E4D6;
	}
	.content__info  {
		margin: 0;
	}
	.content__title {
		font-size: 30px;
		margin-bottom: 15px;
	}
	.footer-wrapper {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 420px) {
	.slider-wrapper {
		height: 300px;
		padding-bottom: 70px;
	} 
	.slick-dots li img {
		height: 50px;
	}
}

@media (max-width: 350px) {
	body {
		font-size: 15px;
	}
}

@media (max-width: 316px) {
	.container {
		padding-left: 8px;
		padding-right: 8px;
	}
	.motivation__icon {
		font-size: 18px;
	}
}























